@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.product-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 100px;
}

.product-info{
    margin-top: 100px;
    text-align: center;
    
}

.product-info h1{
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    margin: 0;
    padding: 0;
}

.product-info p{
    font-family: 'Roboto Mono', monospace;
    color: steelblue;
    text-align: justify;
    background-color: antiquewhite;
    padding: 15px;
}

#color-blue{
    color: rgb(81, 81, 243);
}
